<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Configuration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6608FD61DCED6DC00ABF5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6608FEA1DCED6DD00ABF5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6608FF51DCED6DD00ABF5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
